DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=parqueadero
API_EMAIL_URL=https://dev-sites.similtech.co/api-email
API_EMAIL_USER=proceso_pruebas
API_EMAIL_PASSWORD=das487d32_*
API_EMAIL_ID_USER=parqueadero_app